.App h1 {
  text-align: center;
}

.textAreas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.textAreas > p {
  margin: 2rem;
}

.textAreaContainer {
  margin: 1rem;
}

.textAreaContainer > label {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.errorBox {
  color: red;
  max-width: 320px;
  height: 20px;
}

.buttonContainer {
  flex: 1 1 100%;
  text-align: center;
}

.button {
  background-color: rgba(89, 68, 176, 1);
  border: 1px solid rgba(0, 0, 0, 0);
  color: #ffffff;
  font-size: 1rem;
  border-radius: 4px;
  margin: 1rem auto;
  padding: 1rem 1.25rem;
}

.button:hover {
  background-color: rgba(89, 68, 176, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.logArea {
  margin: 1rem auto;
  max-width: 675px;
}

@media screen and (max-width: 675px) {
  .logArea {
    margin: 1rem 2rem;
  }
}
